html,
body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    padding-top: 62px;
    background-color: #1A1B1F;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #fff;
    text-decoration: none;
}
hr {
    border-color: #242529;
    margin-top: 10px;
    margin-bottom: 20px;
}
/* Footer  */
footer {
    margin-top: 30px;
    color: #666;
    font-size: 13px;
    margin-bottom: 20px;
}
footer hr {
    border-color: #242529;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer p {
    margin: 0;
    padding: 0;
}
.facebook {
    margin-right: 10px;
    color: #666;
    font-size: 13px;
}
.facebook:hover { color: #fff }
.facebook i {
    color: #3D599B;
    font-size: 16px;
}
.twitter {
    color: #fff;
    font-size: 13px;
}
.twitter i {
    color: #00ABEE;
    font-size: 16px;
}
/* Bootstrap */
.modal-title {
    color: #fff;
    font-weight: 400;
}
.modal-body .form-control { border-color: #242529 }
.modal-content { background-color: #1A1B1F }
.modal-header { border-color: #242529 }
.modal { background-color: rgba(255, 255, 255, 0.3) }
/* Badge navigacija */
.badge { margin-top: -20px }
/* Filmovi */
.play {
    position: absolute;
    display: none;
    top: 30%;
    left: 40%;
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 1s;
    -vendor-animation-iteration-count: infinite;
}
.film:hover img {
    opacity: 10;
    filter: alpha(opacity=100);
}
.film:hover .play { display: block }
.film { margin-bottom: 40px }
.film .opis { height: 45px }
.film a h2 {
    font-size: 14px;
    color: #fff;
}
.film p,
.film p a {
    margin-top: 10px;
    font-size: 13px;
    color: #666;
}
.film p a:hover { color: #fff }
.film img {
    width: 100%;
    height: 250px;
    border-radius: 4px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.film img:hover {
    opacity: 10;
    filter: alpha(opacity=100);
}
/* Rank */
.rank {
    position: absolute;
    padding: 1px 5px;
    right: 15px;
    top: 0;
    background: #242529;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 4px;
}
.rank:hover { cursor: pointer }
/* Naslov */
.naslov {
    z-index: 99999;
    background: #32936F;
    padding: 40px 20px 40px 20px;
    margin-bottom: 40px;
    margin-top: -39px;
}
.naslov h1 {
    margin: 0;
    font-size: 25px;
}
.naslov h1 small {
    font-size: 20px;
    color: #f5f5f5;
}
.naslov h1 span {
    font-size: 25px;
    color: #fff;
}
.naslov p i { font-size: 18px }
.naslov p a { border-bottom: 1px dotted #fff }
.naslov p a:hover { border-bottom: 1px solid #fff }
.alert { border-radius: 0 }
/* Embed kod */
.embed { margin-bottom: 25px }
/* Informacije */
.informacije {
    margin-bottom: 25px;
    color: #666;
    background: #242529;
    padding: 40px 20px 40px 20px;
}
.informacije strong { color: #fff }
/* Problem */
.problem { margin-bottom: 25px }
/* Komentari */
.komentari {
    color:#333;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
}
/* Input */
.form-control {
    color: #fff;
    background-color: transparent;
    border: 1px solid #242529;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.form-control:focus {
    border-color: #242529;
    outline: 0;
    -webkit-box-shadow: 0 0 8px rgba(255, 255, 255, .3);
    box-shadow: 0 0 8px rgba(255, 255, 255, .3);
}
.form-control::-moz-placeholder {
    color: #666;
    opacity: 1;
}
.form-control:-ms-input-placeholder { color: #666 }
.form-control::-webkit-input-placeholder { color: #666 }
/* Ikonice na login levo */
.fa.form-control-feedback { line-height: 34px }
.has-feedback-left input.form-control {
    padding-left: 40px;
    padding-right: 12px;
}
.has-feedback-left .form-control-feedback {
    left: 0;
    padding-left: 10px;
    color: #CACACA;
}
/* Pretraga */
.pretraga {
    font-weight: 400;
    font-size: 13px;
    border-radius: 25px;
    border: 1px solid #1A1B1F;
    background-color: #1A1B1F;
}
.fa-search { color: #666 }
.navbar-default i { font-size: 16px }
/* Korisnik */
.omiljeno {
    border: none;
    background: none;
    margin-right: 15px;
    padding: 0;
}
.korisnik {
    background: #32936F;
    color: #fff;
    padding: 40px 20px 40px 20px;
    margin-bottom: 40px;
    margin-top: -39px;
}
.korisnik a { color: #fff }
.korisnik h1 {
    font-size: 24px;
    font-weight: 400;
}
.korisnik .avatar {
    border-radius: 50%;
    margin-right: 15px;
    background-color: #fff;
    padding: 3px;
    border: 1px solid #fafafa;
    cursor: pointer;
}
.korisnik-info h3 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}
.korisnik-input {
    background-color: #242529;
    border: 1px solid #1A1B1F;
    border-radius: 5px;
}
/* Avatar */
.navbar-nav > li > a.navbar-gravatar {
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-gravatar img {
    border-radius: 50%;
    margin-right: 5px;
}
/* Logo */
.navbar-brand {
    background: url('../img/logo.png') no-repeat 0 0;
    width: 175px;
    height: 50px;
    margin-top: 4px;
    margin-right: 10px;
}
@media (max-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand { margin-left: 15px }
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand { margin-left: 0px }
}
.navbar { margin-bottom: 0px }
@media (min-width: 768px) {
    .navbar { border-radius: 0px }
}
/* Navigacija */
.navbar-default {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #242529;
    border-color: #242529;
    font-weight: 600;
}
.navbar-default .navbar-nav > li > a { color: #666 }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-toggle { border-color: #1A1B1F }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #1A1B1F }
.navbar-default .navbar-toggle .icon-bar { background-color: #fff }
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #1A1B1F }
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: transparent;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #666 }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #32936F;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #32936F;
    }
}
.navbar-default .navbar-link { color: #666 }
.navbar-default .navbar-link:hover { color: #fff }
.navbar-default .btn-link { color: #666 }
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus { color: #333 }
/* Padajuci meni */
.dropdown-menu {
    padding: 0;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-background-clip: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}
.dropdown-menu .divider { background-color: #F0F0F0 }
.dropdown-menu > li > a {
    padding: 15px 30px;
    color: #545454;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #545454;
    background-color: #F0F0F0;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #32936F;
}
/* Automacki dropdown */
@media (min-width: 450px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu { display: block }
    .btn-group:hover > ul.dropdown-menu { display: block }
}
/* Dugmad */
.btn { font-size: 14px }
.btn-sm { font-size: 13px }
.btn-lg { font-size: 15px }
.btn-success,
.btn-success:focus,
.btn-success.focus,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    font-weight: 400;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background: #1B98E0;
    border: 1px solid #1B98E0;
    padding: 9px 14px;
}
.btn-success:hover {
    color: #fff;
    background: #1A7EB9;
    border: 1px solid #1A7EB9;
}
.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    font-weight: 400;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background: #242529;
    border: 1px solid #242529;
    padding: 9px 14px;
}
.btn-primary:hover {
    color: #fff;
    background: #212226;
    border: 1px solid #212226;
}
.btn-default,
.btn-default:focus,
.btn-default.focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    font-weight: 400;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    background: #fff;
    border: 1px solid #fff;
    padding: 9px 14px;
}
.btn-default:hover {
    color: #333;
    background: #D1D1D2;
    border: 1px solid #D1D1D2;
}
/* Error */
.alert-danger {
    color: #fff;
    background-color: #E63946;
    border-color: #E63946;
    border-radius: 4px;
}
.alert-info {
    color: #fff;
    background-color: #1B98E0;
    border-color: #1B98E0;
    border-radius: 4px;
}
.alert-success {
    color: #fff;
    background-color: #32936F;
    border-color: #32936F;
    border-radius: 4px;
}
/* TinyMCE */
.mce-toolbar .mce-btn i { color: #333 }
.mce-toolbar .mce-btn:hover i { color: #333 }
.mce-toolbar .mce-btn:hover { border: 1px solid #f0f0f0 }
.mce-panel {
    background-color: #242529 !important;
    border-top: 1px solid #242529 !important;
    border-bottom: 1px solid #242529 !important;
    border-left: 1px solid #242529 !important;
    border-right: 1px solid #242529 !important;
}
.mce-btn button { background-color: #fff }
.mce-edit-area {
    border: none !important;
    border-width: 0px !important;
}
ul.pagination { display: none }
/* Prijava */
.prijava { padding-top: 10% }
.logo {
    background: url('../img/logo.png') no-repeat 0 0;
    width: 175px;
    height: 50px;
    display: block;
    margin: auto;
}
.login {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #242529;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #242529;
}
.login .form-control {
    color: #fff;
    background-color: #1A1B1F;
    border: 1px solid #1A1B1F;
}
.btn-link {
    color: #fff;
    padding: 10px 0;
    margin: 0;
}
.btn-link:hover { color: #1B98E0 }
/* Animacija */
.animacija {
    -vendor-animation-duration: 3s;
    -vendor-animation-delay: 1s;
    -vendor-animation-iteration-count: infinite;
}
/* Dropdown za zanrove */
@media screen and (min-width: 768px) {
    .columns {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        height: 352px;
    }
}
.columns > li > a:hover,
.columns > li > a:focus {
    color: #545454;
    background-color: #F0F0F0;
}
.columns > .active > a,
.columns > .active > a:hover,
.columns > .active > a:focus {
    color: #545454;
    background-color: #F0F0F0;
}
/* Baneri */
.oklop {
    background: url('../img/oklop.gif') no-repeat 0 0;
    width: 728px;
    height: 90px;
}
.vilascekic {
    background: url('../img/besplatno-ljetovanje.gif') no-repeat 0 0;
    width: 336px;
    height: 280px;
}