html,
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 16px;
    padding-top: 35px;
}
a {
    color: #333;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #D63820;
    text-decoration: none;
}
p { font-size: 14px }
h1 {
    font-size: 24px;
    font-weight: 400;
}
h2 {
    color: #333;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
/* Footer */
footer {
    padding-bottom: 40px;
    font-size: 13px;
    color: #999;
    margin-top: 40px;
}
footer a {
    color: #E3472F;
    font-size: 13px;
}
/* Filmovi */
.film { margin-bottom: 40px }
.film .opis { height: 45px }
.film a h2 {
    font-size: 14px;
    color: #333;
}
.film p,
.film p a {
    margin-top: 10px;
    font-size: 13px;
    color: #666;
}
.film p a:hover { color: #fff }
.film img {
    width: 100%;
    height: 250px;
    border-radius: 4px;
}
/* Rank */
.rank {
    position: absolute;
    padding: 1px 5px;
    right: 15px;
    top: 0;
    color:#fff;
    background: #545454;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 4px;
}
.rank a {
    color:#fff;
}
.rank:hover { background:#D63820;cursor: pointer }


/* Zapamti me */
.btn-link {
    color: #777;
    padding: 10px 0;
}
.btn-link:hover { color: #D63820 }
/*Table */
@media screen and (max-width: 767px) {
    .table-responsive { border: 1px solid #f0f0f0 }
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #f0f0f0;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #f0f0f0;
}
.table > tbody + tbody { border-top: 1px solid #f0f0f0 }
.table-striped > tbody > tr:nth-of-type(odd) { background-color: #f0f0f0 }
/* Dodaj izmeni*/
#dodaj {
    z-index: 1500;
    bottom: 0;
    padding: 10px;
    margin-top: 40px;
    position: fixed;
    width: 100%;
    background: #fff;
    border: 1px solid #F0F0F0;
    display: none;
}
#kateogrija {
    z-index: 1500;
    bottom: 0;
    padding: 10px;
    margin-top: 40px;
    position: fixed;
    width: 100%;
    background: #fff;
    border: 1px solid #F0F0F0;
    display: none;
}
/* Editor teksta */
.note-group-select-from-files { display: none }
.note-editor .btn {
    font-weight: 400;
    border-radius: 4px;
    color: #545454;
    cursor: pointer;
    background: #F0F0F0;
    border: 1px solid #F0F0F0;
    padding: 9px 14px;
}
.note-editor .btn:hover {
    font-weight: 400;
    border-radius: 4px;
    color: #545454;
    cursor: pointer;
    background: #fff;
    border: 1px solid #F0F0F0;
    padding: 9px 14px;
}
/* Dugmad */
.btn { font-size: 14px }
.btn-sm { font-size: 13px }
.btn-lg { font-size: 15px }
.btn-success,
.btn-success:focus,
.btn-success.focus,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    font-weight: 400;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background: #72B896;
    border: 1px solid #6BAD8D;
    padding: 9px 14px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.btn-success:hover {
    color: #fff;
    background: #6bad8d;
    border: 1px solid #6bad8d;
}
.btn-default,
.btn-default:focus,
.btn-default.focus,
.btn-default:hover,
.btn-default:active,
.btn-default.active,
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    font-weight: 400;
    border-radius: 4px;
    color: #545454;
    cursor: pointer;
    background: #fff;
    border: 1px solid #DBDBDB;
    padding: 9px 14px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.btn-default:hover {
    color: #545454;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
}
.btn-danger,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
    font-weight: 400;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background: #E3472F;
    border: 1px solid #D63820;
    padding: 9px 14px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.btn-danger:hover {
    color: #fff;
    background: #D63820;
    border: 1px solid #D63820;
}
/* Dugme */
.dugme {
    color: #333;
    background-color: #fff;
    border: 1px solid #eee;
    padding: 5px 10px;
    margin-left: 3px;
    border-radius: 5px;
}
/* Avatar */
.navbar-nav > li > a.navbar-gravatar {
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar-gravatar img {
    border-radius: 5px;
    margin-right: 5px;
}
/* Logo */
.navbar-brand {
    background: url('../img/admin.png') no-repeat 0 0;
    width: 60px;
    height: 50px;
    margin-top:2px;
    border-right: 1px solid #EFEFEF;
    margin-right: 15px;
}
@media (max-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand { margin-left: 15px }
}
@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand { margin-left: 0px }
}
.navbar { margin-bottom: 0px }
@media (min-width: 768px) {
    .navbar { border-radius: 0px }
}
/* Navigacija */
.navbar-default {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    border-color: #F0F0F0;
}
.navbar-default .navbar-nav > li > a { color: #777 }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #fff;
}
.navbar-default .navbar-toggle { border-color: #F0F0F0 }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #F0F0F0 }
.navbar-default .navbar-toggle .icon-bar { background-color: #545454 }
.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border-color: #EFEFEF }
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #545454;
    background-color: #fff;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #777 }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
}
.navbar-default .navbar-link { color: #777 }
.navbar-default .navbar-link:hover { color: #333 }
.navbar-default .btn-link { color: #777 }
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus { color: #333 }
/* Padajuci meni */
.dropdown-menu {
    padding: 0;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #DBDBDB;
    -webkit-background-clip: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu .divider { background-color: #F0F0F0 }
.dropdown-menu > li > a {
    padding: 15px 30px;
    color: #545454;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #545454;
    background-color: #F0F0F0;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #E3472F;
}
/* Automacki dropdown */
@media (min-width: 450px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu { display: block }
    .btn-group:hover > ul.dropdown-menu { display: block }
}
/* Podesavanja tabovi */
.nav-tabs { border-color: #f0f0f0 }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    border-color: #f0f0f0;
    border-bottom-color: transparent;
}
.nav-tabs > li > a:hover {
    background-color: #fff;
    border-color: #f0f0f0 #f0f0f0 #f0f0f0;
}
.tab-pane > h2 { margin-top: 40px }
/* HR razmak */
hr { margin: 10px 0px }
/* Naslov */
.naslov {
    text-align: center;
    background-color: #545454;
    color: #fff;
    padding: 30px 0px;
    margin-bottom: 40px;
}
/* Input */
.form-control {
    color: #545454;
    background-color: #fff;
    border: 1px solid #F0F0F0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.form-control:focus {
    border-color: #DBDBDB;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder { color: #999 }
.form-control::-webkit-input-placeholder { color: #999 }
/* Ikonice na login levo */
.fa.form-control-feedback { line-height: 34px }
.has-feedback-left input.form-control {
    padding-left: 40px;
    padding-right: 12px;
}
.has-feedback-left .form-control-feedback {
    left: 0;
    padding-left: 10px;
    color: #CACACA;
}
/* Error */
.alert-danger {
    color: #E3472F;
    background-color: #fff;
    border-color: #D63820;
}
/* TinyMCE */
.mce-toolbar .mce-btn i { color: #333; }
.mce-toolbar .mce-btn:hover i { color: #333; }
.mce-toolbar .mce-btn:hover { border: 1px solid #f0f0f0; }
.mce-panel {
    background-color: #F0F0F0 !important;
    border-top: 1px solid #f0f0f0 !important;
    border-bottom: 1px solid #f0f0f0 !important;
    border-left: 1px solid #f0f0f0 !important;
    border-right: 1px solid #f0f0f0 !important;
}
.mce-btn button { background-color: #fff }
.mce-edit-area { border: none !important; border-width: 0px !important; }

.select2-dropdown {
    border: 1px solid #DBDBDB;
    margin-top: 40px;
    font-size:14px;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #F0F0F0;
    font-size:14px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #F0F0F0;
    border: 1px solid #DBDBDB;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    padding-left: 10px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #DBDBDB;
}
