.quality-banner {

	position: absolute;

	top: 0px;

	margin-left: 20px;

	margin-top: 5px;

	left: 0px;

	width: 70px;

	height: 70px;

	opacity: 1;

	z-index: 1;

	border: 0;

}



.film figure {
	border: 5px solid #fff;
    border-radius: 2px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;

}



.film figure:hover {

	border-color: #32936f;

}



.play {

    background: rgba(0,0,0,0);

}



.play figcaption {

    text-align: center;

    margin: -50px -25px 0 0;

    color: #32936f;

    height: 200px;

    background: black;

}



.play figcaption h3 {

    font-weight: bold;

}



.rank {

	margin: 5px 5px;

}



#movie-poster {

    padding: 0;

    margin: 0;

}



#movie-poster img {

    border: 5px solid #fff;

    border-radius: 2px;

}





#stream-tech {

	margin: 0;

}



.tech-quality .selected {

	background: rgba(0,0,0,0.2);

	border-radius: 3px 3px 0px 0px;

    font-weight: bold;

}



.tech-quality {

	text-align: center;

    display: inline-block;

    padding: 10px 30px;

    outline: 0;

    color: #919191;

    zoom: 1;

    border-bottom: 0;

    -moz-border-radius: 4px 4px 0 0;

    -webkit-border-radius: 4px 4px 0 0;

    border-radius: 4px 4px 0 0;

    transition: color .15s ease-in-out;

    -moz-transition: color .15s ease-in-out;

    -webkit-transition: color .15s ease-in-out;

    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    -o-user-select: none;

    user-select: none;

}



.clearfix {

    clear: both;

}



.margin-0 {

    margin: 0;

}



.margin-0:hover {

    margin: 0;

}



.margin-0:active {

    margin: 0;

}



.padding-0 {

    padding: 0;

}



/* Pull left in mobile resolutions */

@media (max-width: @screen-md-max) {

    .pull-md-right {

        float: right !important;

    }

    .pull-md-left {

        float: left !important;

    }

}



